table { border-collapse: collapse; width: 100%; }

th, td { border: 1px solid #aaa; padding: 2px; min-width: 40px; width: 40px; height: 12px; text-align: center; vertical-align: middle; }
table tr th:first-child, table tr td:first-child { min-width: 40px; width: 40px; }
th { background: #eee; }
.event { background: #cce5ff; }
